/*Body parameters*/
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #D9D9D9;
    justify-content: center;
    margin: auto;
    width: auto;
    clear: both;
}

.profilePicture {
    float: right;
    margin: 10px;
    height: 200px;
    width: 180px;
}

div.content {
  margin-left: 300px;
  margin-right: 200px;
  padding: 1px 16px;
  height: 1000px;
}

/* Paragraph */
.paragraph {
    font-family: monospace;
    font-size: 1.125em;
    max-width: 100%;
    margin: auto;
    line-height: 1.25;
    word-wrap: break-word;
    /*white-space: pre-line;*/
    margin-bottom: 1.5em;
}

/* Hyperlinks */
.email {
    font-family: monospace;
    text-decoration: none;
}

.hyperlink {
    text-decoration: none;
}
