/*Body parameters*/
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #D9D9D9;
    justify-content: center;
    margin: auto;
    width: auto;
    clear: both;
}

/* Site Version */
.siteVersion {
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}

/* Content formatting */
.content {
    position: flex;
    padding: 10px;
    align-content: center;
    margin: auto;
    max-width: 80%;
    background-color: #E6E6E6;
    padding: 20px;
    overflow-y: auto;
}

.grid-container {
    display: grid;
    grid-gap: 5px;
    max-width: auto;
    margin: auto;
    background-color: #E6E6E6;
    align-content: center;
    height: 100%;
    clear: both;
}

.profilePicture {
    float: left;
    margin: 10px;
    height: 165px;
    width: 200px;
}

/* Paragraph */
.paragraph {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 100%;
    margin: auto;
    word-wrap: break-word;
    white-space: pre-line;
}

/* Hyperlinks */
.email {
    font-family: monospace;
    text-decoration: none;
}

.hyperlink {
    text-decoration: none;
}
