/* Top Navigation */
nav {
    position: relative fixed;
    top: 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    background-color: #000000;
    padding-top: 0px;
    padding-bottom: 0px;
    clear: both;
    margin: auto;
}

nav ul {
    float: left;
}

nav ul li {
    display: flex;
    float: left;
    vertical-align: center;
    text-align: center;
    list-style: none;
    padding-left: 20px;
    padding-right: 20px;
    align-items: flex-end;
    position: relative;
    border-radius: 10px;
    word-wrap: break-word;
}

nav ul li a {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 18px 14px;
    text-decoration: none;
    font-size: 16px;	
}

nav a:hover {
    background-color: #0000cd;
    color: #ffffff;
}

nav a.active {
    background-color: #4885ed;
    color:#ffffff;
}

/* Bottom Navigation */
footer {
    position: fixed relative;
    bottom: 0;
    width: 100%;
    height: flex;
    display: flex;
    justify-content: left;
    background-color: #000000;
    padding-top: 0px;
    padding-bottom: 0px;
    clear: both;
    margin: auto;
}

footer ul {
    float: left;
}

footer ul li {
    display: flex;
    float: left;
    vertical-align: center;
    text-align: center;
    list-style: none;
    padding-left: 20px;
    padding-right: 20px;
    align-items: flex-end;
    position: relative;
    border-radius: 10px;
    word-wrap: break-word;
}

footer ul li a {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 18px 14px;
    text-decoration: none;
    font-size: 16px;	
}

footer a:hover {
    background-color: #0000cd;
    color: #ffffff;
}

footer a.active {
    background-color: #4885ed;
    color:#ffffff;

}