/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 300px;
  background-color: #000000;
  position: fixed;
  height: 100%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: #f2f2f2;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #D9D9D9;
  color: #000000;
}

.sidebar a:hover:not(.active) {
  background-color: #0000cd;
  color: #ffffff;
}

/* Optimized for tablets */
@media screen and (max-width: 1000px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {
      margin-left: 0;
      margin-right: 0;
  }
}

/* Optimization for mobile phone */
@media screen and (max-width: 700px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
