.ChangeLogMain {
    font-family: 'Courier New', Courier, monospace;
}

.LogSummary {
    font-family: 'Courier New', Courier, monospace;
    max-width: 100%;
    margin: auto;
    word-wrap: break-word;
    white-space: pre-line;
    text-align: justify;
    text-justify: inter-word;
}

.LogDetails{
    font-family: 'Courier New', Courier, monospace;
    background-color: #000000;
    color: #FFFFFF;
    text-align: justify;
    text-justify: inter-word;
}
