/*Body parameters*/
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #D9D9D9;
    justify-content: center;
    margin: auto;
    width: auto;
    clear: both;
}

/* Content formatting */
.content {
    padding: 10px;
    align-content: center;
    margin: auto;
    max-width: 90%;
    background-color: #E6E6E6;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.grid-container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: auto auto;
    max-width: 90%;
    margin: auto;
    background-color: #E6E6E6;
    align-content: center;
}

/* Paragraph */
.paragraph {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 100%;
    margin: auto;
    word-wrap: break-word;
    white-space: pre-line;
}

/* Hyperlinks */

.email {
    font-family: monospace;
    text-decoration: none;
}

.hyperlink {
    text-decoration: none;
}

/* Buy Me A Coffee */
.BuyMeCoffee {
    float: left;
}

/* Website Version */
.SiteVersion {
    text-align: right;
    padding-right: 10px;
}